* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background: linear-gradient(to top right, #1f1e62 65%, #f72361 35%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: #f5f5f5;
}

.search-box {
  margin: auto;
  margin-top: 5em;
  background-color: rgba(224, 224, 224,0.2);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  height: 150px;
  border-radius: 5px;
  max-width: 775px;

}

.search-box form {
  width: 80%;
}

.search-field {
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  font-size: 8em;
  color: #212121;
}

.submit-search {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  margin: 0;
}

.search-icon svg {
  fill: #212121;
}

.supporting {
  text-align: center;
}

.supporting a {
  text-decoration: none;
  color: #757575;
}

.results-container {
  text-align: left;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 5em;
  border-radius: 5px;
  background-color: rgba(224, 224, 224,0.2);
  max-width: 775px;
}

.std-button {
  text-decoration: none;
  color: #f5f5f5;
  background-color: #f72361;
  padding: 5px;
  border-radius: 5px;
}

.result {
  padding: 1em;
}
